---
import Layout from "../layouts/Layout.astro";
import HeroBaner from "../components/Home/HeroBaner.astro";
import PiezasaMedida from "../components/Home/PiezasaMedida.astro";
import Servicios from "../components/Home/Servicios.astro";
import CarouselHome from "@/components/Home/CarouselHome.astro";
---

<Layout title="Virtual Art">
  <main>
    <HeroBaner />
    <PiezasaMedida />
    <Servicios />
    <CarouselHome />
  </main>
</Layout>
