---

---

<div class="h-screen w-screen  flex flex-col justify-center hero-image " >
    <h1 class="text-4xl lg:text-7xl font-bold ">Bienvenido a <br/> <span class="text-gradient"> Virtual Art </span> </h1>
    <p class="text-lg  font-semibold">Explorala belleza y la emocion a travez de una variedad de arte y estilos. </p>
    <p class="text-lg  font-semibold">Virtual Art es una galeria de arte virtual que te permite explorar y comprar arte de una manera facil y segura.</p>
    <p class="text-lg  font-semibold">Explora nuestra coleccion de arte y encuentra la pieza perfecta para ti.</p>
    <div class="flex justify-center">
        <button class="bg-white text-black font-semibold px-4 py-2 mt-4 w-52 rounded-lg ">Explorar</button>
    </div>
</div>

<style>
.hero-image {
    /* background-image: url(${heroBaner}) !important; */
    background-image: url(../../assets/images/herobaner.jpg) ;
    background-size: cover;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0 20px;
    /* agregar opacidad al backgroundimage  */


    background-color: #0f13418a;
    background-blend-mode: overlay;


}

.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>